<div class="container">
<div class="container-flats row fullscreen">
 <%= link_to new_list_path, class: "button-82-pushable mt-3" do %>
  <span class="button-82-shadow"></span>
  <span class="button-82-edge"></span>
  <span class="button-82-front">Add List</span> <!-- testo qui -->
<% end %>

<div class="card-container">
  <% @lists.each do |list| %>
    <div class="card-list" style="background-image: url('<%= cl_image_path(list.photo.key, height: 600, width: 600, crop: :fill) %>');">
      <div class="card-title">
        <%= link_to list.name, list_path(list), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
