<div class="container">
<div class="container-flats row fullscreen">
 <%= link_to new_list_path, class: "button-82-pushable mt-3" do %>
  <span class="button-82-shadow"></span>
  <span class="button-82-edge"></span>
  <span class="button-82-front">Add List</span> <!-- testo qui -->
<% end %>

  <div class="card-container">
    <% @lists.each do |list| %>
      <div class="card-list">
        <% if list.photo.attached? %>
        <%= link_to list.name, list_path(list), class: "card-link" %>
          <%= cl_image_tag(list.photo.key, height: 300, width: 400, crop: :fill) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
