<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<div class="container">
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "custom-btn-pill"%>
<% end %>
</div>
