.container-flats {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.card-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  overflow-y: auto;
  padding: 20px;
}

