.title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
   background: #fff;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


